.logo{
    width: 95px;
    height: 44px;
    margin-top: -12px;
}
body{
    background: #f3f3f3;
}
.main{
    background: #fff;
    width: 730px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px;
}
.form-container{
    width: 500px;
    margin: 0 auto;
    text-align: right;
}
.page-title{
    text-align: center;
}

iframe {
    vertical-align: middle;
    font-weight: 400;
    margin-top: 10px;

}




